registry=https://pkgs.dev.azure.com/mend-demo-for-azure/development/_packaging/feed-test/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/mend-demo-for-azure/development/_packaging/feed-test/npm/registry/:username=mend-demo-for-azure
//pkgs.dev.azure.com/mend-demo-for-azure/development/_packaging/feed-test/npm/registry/:_password=aHJscmwyN3J3N3V0YXdlaXl6YXY2bDVnN25hYWRkd3dmdWtpZTIycG90NXdxcDV3cXBoYQ==
//pkgs.dev.azure.com/mend-demo-for-azure/development/_packaging/feed-test/npm/registry/:email=vital.batyr@whitesourcesoftware.com
//pkgs.dev.azure.com/mend-demo-for-azure/development/_packaging/feed-test/npm/:username=mend-demo-for-azure
//pkgs.dev.azure.com/mend-demo-for-azure/development/_packaging/feed-test/npm/:_password=aHJscmwyN3J3N3V0YXdlaXl6YXY2bDVnN25hYWRkd3dmdWtpZTIycG90NXdxcDV3cXBoYQ==
//pkgs.dev.azure.com/mend-demo-for-azure/development/_packaging/feed-test/npm/:email=vital.batyr@whitesourcesoftware.com
; end auth token
